<!--  変更
{% load staticfiles %}
-->
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
<!--  変更   -->
        <title>{% if request.path != '/' %}{% block title %}{% endblock %} | {% endif %}電気使用量管理</title>

    </head>
    <body>
    <div class="container">
        <header>
<!--  変更
            <p class="site-name"><a href="{% url 'monitor:index' %}">電気使用量管理</a></p>
   -->
            <p class="site-name"><h1><a href="{% url 'monitor:index' %}">電気使用量管理</a></h1></p>
            <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="logout">ログアウト</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="login">ログイン</a></li>
                {% endif %}
            </ul>
        </nav>
        </header>
        <div class="content">
        {% block content %}
        {% endblock %}

          <h3><a href="/admin">◆管理画面</a></h3>
    </body>
</html>
